@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-Thin.eot');
  src: local('Faktum Thin'), local('Faktum-Thin'),
  url('../fonts/Faktum-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-Thin.woff2') format('woff2'),
  url('../fonts/Faktum-Thin.woff') format('woff'),
  url('../fonts/Faktum-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-ThinItalic.eot');
  src: local('Faktum Thin Italic'), local('Faktum-ThinItalic'),
  url('../fonts/Faktum-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-ThinItalic.woff2') format('woff2'),
  url('../fonts/Faktum-ThinItalic.woff') format('woff'),
  url('../fonts/Faktum-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-Light.eot');
  src: local('Faktum Light'), local('Faktum-Light'),
  url('../fonts/Faktum-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-Light.woff2') format('woff2'),
  url('../fonts/Faktum-Light.woff') format('woff'),
  url('../fonts/Faktum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-MediumItalic.eot');
  src: local('Faktum Medium Italic'), local('Faktum-MediumItalic'),
  url('../fonts/Faktum-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-MediumItalic.woff2') format('woff2'),
  url('../fonts/Faktum-MediumItalic.woff') format('woff'),
  url('../fonts/Faktum-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-RegularItalic.eot');
  src: local('Faktum Regular Italic'), local('Faktum-RegularItalic'),
  url('../fonts/Faktum-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-RegularItalic.woff2') format('woff2'),
  url('../fonts/Faktum-RegularItalic.woff') format('woff'),
  url('../fonts/Faktum-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-Regular.eot');
  src: local('Faktum Regular'), local('Faktum-Regular'),
  url('../fonts/Faktum-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-Regular.woff2') format('woff2'),
  url('../fonts/Faktum-Regular.woff') format('woff'),
  url('../fonts/Faktum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-BoldItalic.eot');
  src: local('Faktum Bold Italic'), local('Faktum-BoldItalic'),
  url('../fonts/Faktum-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-BoldItalic.woff2') format('woff2'),
  url('../fonts/Faktum-BoldItalic.woff') format('woff'),
  url('../fonts/Faktum-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-ExtraBoldItalic.eot');
  src: local('Faktum ExtraBold Italic'), local('Faktum-ExtraBoldItalic'),
  url('../fonts/Faktum-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Faktum-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Faktum-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-SemiBold.eot');
  src: local('Faktum SemiBold'), local('Faktum-SemiBold'),
  url('../fonts/Faktum-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-SemiBold.woff2') format('woff2'),
  url('../fonts/Faktum-SemiBold.woff') format('woff'),
  url('../fonts/Faktum-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-ExtraLightItalic.eot');
  src: local('Faktum ExtraLight Italic'), local('Faktum-ExtraLightItalic'),
  url('../fonts/Faktum-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/Faktum-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Faktum-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-ExtraBold.eot');
  src: local('Faktum ExtraBold'), local('Faktum-ExtraBold'),
  url('../fonts/Faktum-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-ExtraBold.woff2') format('woff2'),
  url('../fonts/Faktum-ExtraBold.woff') format('woff'),
  url('../fonts/Faktum-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-ExtraLight.eot');
  src: local('Faktum ExtraLight'), local('Faktum-ExtraLight'),
  url('../fonts/Faktum-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-ExtraLight.woff2') format('woff2'),
  url('../fonts/Faktum-ExtraLight.woff') format('woff'),
  url('../fonts/Faktum-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-LightItalic.eot');
  src: local('Faktum Light Italic'), local('Faktum-LightItalic'),
  url('../fonts/Faktum-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-LightItalic.woff2') format('woff2'),
  url('../fonts/Faktum-LightItalic.woff') format('woff'),
  url('../fonts/Faktum-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-Bold.eot');
  src: local('Faktum Bold'), local('Faktum-Bold'),
  url('../fonts/Faktum-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-Bold.woff2') format('woff2'),
  url('../fonts/Faktum-Bold.woff') format('woff'),
  url('../fonts/Faktum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-SemiBoldItalic.eot');
  src: local('Faktum SemiBold Italic'), local('Faktum-SemiBoldItalic'),
  url('../fonts/Faktum-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Faktum-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Faktum-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum-Medium.eot');
  src: local('Faktum Medium'), local('Faktum-Medium'),
  url('../fonts/Faktum-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Faktum-Medium.woff2') format('woff2'),
  url('../fonts/Faktum-Medium.woff') format('woff'),
  url('../fonts/Faktum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

