.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: toRem(16) 0;

  &._header-scroll {
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid var(--dash-white);

    .header__logo {
      svg {
        path {
          fill: var(--blue);
        }
      }
    }
  }

  &._header-show {
    transition: top .3s ease 0s;
    top: 0;

    .menu__item {
      color: var(--text-dark);
    }

    .menu__item_submenu::before {
      background-color: var(--blue)
    }
  }

  &_alternative {
    background-color: #fff;
    border-bottom: 1px solid var(--dash-white);

    .header__logo {
      svg {
        path {
          fill: var(--blue);
        }
      }
    }

    .menu__item {
      color: var(--text-primary);

      &:before {
        background-color: var(--text-primary);
      }
    }

    .header__lang {
      color: var(--text-primary);
    }
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s all ease-in-out;
  }

  // .header__container
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }

  // .header__logo
  &__logo {
    padding-right: toRem(10);

    img, svg {
      width: 100%;
    }
  }

  // .header__menu
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(30);
  }

  // .header__actions
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(30);
    @media (max-width: $tablet) {
      column-gap: toRem(10);
    }
    @media (max-width: $mobile) {
      column-gap: toRem(5);
    }
  }

  // .header__lang
  &__lang {
    color: var(--primary);
    column-gap: toRem(5);
    @media (max-width: $tablet) {
      margin-top: toRem(20);
      color: var(--text-dark);
      column-gap: toRem(2);
    }
  }

  // .header__btn
  &__btn {
  }

  // .header__icon
  &__icon {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.ibg--contain {
}

.menu {
  // .menu__body
  &__body {
  }

  // .menu__list
  &__list {

  }

  // .menu__item
  &__item {

  }

  // .menu__link
  &__link {
    // .menu__link_submenu
    &_submenu {
    }
  }


}

.menu__submenu,
.menu__subsubmenu {
  padding: toRem(32);
  // .submenu__item
  &__item {
  }

  // .submenu__link
  &__link {
  }
}

.menu__submenu._show {
  color: var(--blue);
}


.submenu__item,
.subsubmenu__item {
  width: 100%;
  text-align: left;
  font-size: toRem(14);
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-primary);
  border-bottom: 1px solid #DAE2ED;

  &:first-child {
    border-top: 1px solid #DAE2ED;
  }
}

.submenu__item {
  color: var(--text-primary-opacity);
}

.subsubmenu__item {
  border-color: #DDE0D0;
}

.submenu__link,
.subsubmenu__link {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: toRem(14) 0;
}

.submenu__link {
  color: var(--text-primary-opacity);

  span {
    color: var(--text-primary-opacity);
  }
}


.subsubmenu {
  padding: toRem(32);
  // .subsubmenu__item
  &__item {
  }

  // .subsubmenu__link
  &__link {
    text-align: left;
  }
}

.submenu__link._active {
  color: var(--blue);

  span {
    color: var(--blue);
  }
}


.menu-open {
  .header__overlay {
    left: 0;
    opacity: 1;
  }
}

.menu-open {
  .header__overlay {
    left: 0;
    opacity: 1;
  }
}

