//====================================================================================================
.hero {
  width: 100vw;
  height: 100vh;

  &__bg {
    position: absolute;
    inset: 0;
  }

  // .hero__container
  &__container {
    height: 100%;
    width: 100%;
  }

  // .hero__wrapper
  &__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  // .hero__label
  &__label {
    @include adaptiveValue("margin-bottom", 48, 24);
  }

  &__text {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
    @media (min-width: $tablet) {
      align-items: center;
    }
  }

  // .hero__title
  &__title {

    margin-right: toRem(10);
    @media (min-width: $tablet) {
      flex: 0 1 60%;
    }
  }

  // .hero__descr
  &__descr {
    margin-left: toRem(10);
    position: relative;
    flex: 0 1 40%;
    font-size: toRem(16);
    line-height: 1.5;
    max-width: 490px;
    color: var(--text-secondary);

    @media (min-width: $tablet) {
      &::before {
        content: '';
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
    }

    @media (max-width: $tablet) {
      margin-top: toRem(28);
    }

    p:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }

  // .hero__btn
  &__btn {
    @include adaptiveValue("margin-top", 56, 48);
  }
}

//====================================================================================================

.about {
  // .about__container
  &__container {
  }

  // .about__wrapper
  &__wrapper {

  }

  // .about__title
  &__title {
    flex: 0 1 auto;
  }

  // .about__text
  &__text {
    flex: 0 1 70%;

    p {
      font-weight: 500;
      line-height: 1.3;
      text-transform: uppercase;
      @include adaptiveValue("font-size", 40, 24);
    }
  }

  // .about__btn
  &__btn {
    @include adaptiveValue("margin-top", 50, 40);
  }
}

.section-title {
}

.accent {
}

//==================================================================================================================

.services {
  // .services__container
  &__container {
  }

  // .services__wrapper
  &__wrapper {
  }

  // .services__title
  &__title {
    @media (min-width: $tablet) {
      flex: 0 1 auto;
    }
  }

  // .services__content
  &__content {
    width: 100%;
    @media (min-width: $tablet) {
      flex: 0 1 70%;
    }
  }

  // .services__spollers
  &__spollers {
    gap: 0;
  }

  // .services__spoller-item
  &__spoller-item {
  }

  // .services__spoller-title
  &__spoller-title {
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3;
    padding-right: toRem(32);
    padding-left: toRem(32);
    border-top: 1px solid rgb(218, 226, 237);
    @include adaptiveValue("font-size", 40, 24);
    @include adaptiveValue("padding-top", 50, 28);
    @include adaptiveValue("padding-bottom", 50, 28);
    @media (max-width: $mobile) {
      padding-left: 0;
      padding-right: 0;
    }

    span {
      display: block;
      max-width: 90%;
    }

    &:last-child {
      border-bottom: 1px solid rgb(218, 226, 237);
    }
  }

  // .services__spoller-body
  &__spoller-body {
    border: none;
    padding: 0;
  }
}

//==================================================================================================================

.jurisdictions {
  // .jurisdictions__container
  &__container {
  }

  // .jurisdictions__btn
  &__btn {
    @media (max-width: $mobile) {
      margin-top: toRem(50);
    }
  }

  // .jurisdictions__content
  &__content {
  }

  // .jurisdictions__grid
  &__grid {
  }
}

//==================================================================================================================


.platform {
  // .platform__container
  &__container {
    overflow: hidden;
  }

  // .platform__btn
  &__btn {
  }

  // .platform__row
  &__row {
    align-items: center;
  }

  // .platform__content
  &__content {
    width: 100%;
  }

  // .platform__spollers
  &__spollers {
  }

  // .platform__item
  &__item {
  }

  // .platform__title
  &__title {
    position: relative;
    width: 100%;
    //border-top: 1px solid rgb(218, 226, 237);
    border-bottom: 1px solid rgb(218, 226, 237);
    padding: toRem(32) toRem(24);
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--text-dark);
    @include adaptiveValue("font-size", 40, 24);

    &::after, &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      transition: width 0.5s ease;
    }

    &::before {
      width: 0;
      visibility: hidden;
      background: var(--blue);
      z-index: 1;
    }

    &:after {
      width: 100%;
      background: rgb(218, 226, 237)
    }

    &._spoller-active {
      &::after, &::before {
        visibility: visible;
      }

      &:before {
        width: 30%;
      }
    }

    span {
      opacity: .4;
    }

    &._spoller-active {
      span {
        opacity: 1;
      }
    }
  }

  // .platform__body
  &__body {
    padding: toRem(24);
    color: var(--text-grey);
    line-height: 1.5;
  }

  // .platform__image
  &__image {
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    @include adaptiveValue("min-height", 500, 250);

    img {
      @media (min-width: $tablet) {
        transform: translateX(17%) translateY(17%);
      }
    }

  }

}

//==================================================================================================================

.publication {
  // .publication__container
  &__container {
  }

  // .publication__btn
  &__btn {
    margin-top: toRem(30);
  }

  // .publication__row
  &__row {
  }

  // .publication__big-item
  &__big-item {
  }

  // .publication__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    width: 100%;

    .platform-item {
      flex-grow: 1;
    }
  }
}

//==================================================================================================================
.contact {
  background: var(--blue);
  // .contact__container
  &__container {
  }

  // .contact__row
  &__row {
    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
    .flex_6_lg {
      width: 100%;
    }
  }

  .title {
    color: var(--primary);
  }

  // .contact__label
  &__label {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: toRem(28);
  }

  // .contact__socials
  &__socials {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    gap: toRem(8);
  }

  // .contact__social
  &__social {
  }
}

.form {
  @media (max-width: $tablet) {
    .row {
      flex-direction: column;
    }
  }

  .form__col {
    input, textarea {
      display: block;
      width: 100%;
      border: 1px solid rgb(92, 130, 183);
      border-radius: 8px;
      color: var(--primary);
      outline: none;
      padding: toRem(24);
    }
  }

  input {
  }

  input[type="checkbox"] {
    width: toEm(20);
    height: toEm(20);
  }

  textarea {
    resize: vertical;
    min-height: toEm(250);
  }

  .row {
    gap: 0;
    @media (min-width: $tablet) {
      .form__col {
        &:nth-child(1) {
          padding-right: toRem(8);
        }

        &:nth-child(2) {
          padding-left: toRem(8);
        }
      }
    }
  }

  // .form__col
  &__col {
    width: 100%;
    margin-bottom: toRem(16);
  }

  // .form__actions
  &__actions {
    @media (max-width: $tablet) {
      .row {
        flex-direction: column;
        align-items: flex-start;
        row-gap: toRem(20);

        .flex_2_lg {
          width: 100%;
        }

        .btn_w100 {
          width: 100%;
        }
      }
    }

    .flex_8 {
      display: flex;
      align-items: center;
      column-gap: toRem(8);
    }

    p {
      font-size: toRem(12);
      line-height: 1.2;
      color: var(--text-light-grey);

      a {
        text-decoration: underline;
        color: var(--primary);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//==================================================================================================================